@charset "utf-8";

html, body {
    margin: 0; 
    font-family: 'basic', Arial, Helvetica, sans-serif; 
    color: #000; 
    min-width: 320px;
    height: 100%;
    background: #fdb67e;
    /*background:#7dc384;*/
}
body{
    padding: 1.67vw;
    box-sizing: border-box;
}
.main-container {
    border: 3px solid #000;
    height: 100%;;
}
.cursor {
    /*opacity: 0;*/ 
    transition: opacity 0.3s; 
    pointer-events: none; 
    position: fixed; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    z-index: 100;
}
.cursor-inner {
    position: absolute;
}
.cursor .arrow {
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%,-50%); 
    font-size: 2vw; 
    width: 50px; 
    height: 50px;
}
.cursor .arrow::before {
    display: none; 
    content: ''; 
    position: absolute; 
    right: 0; 
    top: 50%; 
    margin-top: -23px; 
    transform: rotate(45deg); 
    width: 30px; 
    height: 30px; 
    border-right: 15px solid #fff; 
    border-top: 15px solid #fff;
}
  
  .container {
    position: relative;
    height: 6vw;
    overflow: hidden;
    outline: 1px transparent;
  }
  
  ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    /* white-space: nowrap; */
    font-size: max(50px, 6.5vw);
    line-height: 1;
    word-break: break-word;
  }
  
  .menu {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }


  .flex {
	align-items: center;
	display: flex;
	justify-content: center;
}

.scene {
	background-color: #a29bfe;
	color: black;
	font: 800 100%/1.2 'Nunito', sans-serif;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.header {
	font-size: 6rem;
	margin: 0 auto;
	max-width: 80em;
	position: relative;
	text-align: center;
	z-index: 1;
}

.confetti {
	position: absolute;
	user-select: none;
	z-index: 0;
}

.confetti__item {
		display: inline-block;
		font-size: 1.5rem;
		position: absolute;
}

