@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
html, body {
    margin: 0; 
    padding: 0; 
    font-family: 'Source Code Pro', monospace; 
    color: #000; 
    background: #edeae5; 
    min-width: 320px;
    height: 100%;
    cursor: none;
}
h1 {font-size: max(50px, 6vw);}
.sup {
    vertical-align: super;
    margin-left: -1em;
    padding: .21875em;
    line-height: 100%;
    font-size: .21875em;
    border: #eee solid 1px;
    border-radius: 4px;
    color: inherit;
}
.sup:hover {
    background: #eee;
}

/* html.hover * {cursor: none;} */
/* body:hover .cursor {opacity: 1;} */
/* .wrap {overflow: hidden; height: 100%; position: relative; background-color: #222;} */
.cursor {/*opacity: 0;*/ transition: opacity 0.3s; pointer-events: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 100;}
.cursor-inner {position: absolute;}
.cursor .arrow {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); background: url('/img/cur-hover.png') center/contain no-repeat; width: 50px; height: 50px;}
.cursor .arrow:before {display: none; content: ''; position: absolute; right: 0; top: 50%; margin-top: -23px; transform: rotate(45deg); width: 30px; height: 30px; border-right: 15px solid #fff; border-top: 15px solid #fff;}

.scrolling {position: fixed; background: #fff; z-index: 10; width: 100%;}
.scrolling-wrap {position: fixed; z-index: 10; width: 100%; text-transform: uppercase; font-size: 45px; padding: 9px 0; overflow: hidden;}
.scrolling-text {-webkit-font-smoothing: antialiased; width: fit-content; display: flex; flex: auto; flex-direction: row;}
.scrolling-text .text {flex-shrink: 0; padding: 0 4px; font-weight: bold;}
@media screen and (min-width: 1024px){
    .scrolling-wrap {font-size: 75px;}
}
/* 텍스트 에니메이션 e */