@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
html, body {
    margin: 0; 
    padding: 0; 
    font-family: 'basic', Arial, Helvetica, sans-serif; 
    color: #000; 
    background: #edeae5; 
    min-width: 320px;
    height: 100%;
    cursor: none;
}
/* .main {
    padding: 1.67vw;
    box-sizing: border-box;
} */
h1 {font-size: max(50px, 6vw); /*font-size: clamp(1rem, 2.5vw, 2rem);*/}
.sup {
    vertical-align: super;
    margin-left: -1em;
    padding: .21875em;
    line-height: 100%;
    font-size: .21875em;
    border: #eee solid 1px;
    border-radius: 4px;
    color: inherit;
}
.sup:hover {
    background: #eee;
}
.intro-wrap {
    border: 3px solid #000;
}

/* html.hover * {cursor: none;} */
/* body:hover .cursor {opacity: 1;} */
/* .wrap {overflow: hidden; height: 100%; position: relative; background-color: #222;} */
.cursor {/*opacity: 0;*/ transition: opacity 0.3s; pointer-events: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 100;}
.cursor-inner {position: absolute;}
.cursor .arrow {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 2vw; width: 50px; height: 50px;}
.cursor .arrow:before {display: none; content: ''; position: absolute; right: 0; top: 50%; margin-top: -23px; transform: rotate(45deg); width: 30px; height: 30px; border-right: 15px solid #fff; border-top: 15px solid #fff;}

.scrolling {position: fixed; background: #fff; z-index: 10; width: 100%;}
.scrolling-wrap {position: fixed; z-index: 10; width: 100%; text-transform: uppercase; font-size: 45px; padding: 9px 0; /*overflow: hidden;*/}
.scrolling-text {-webkit-font-smoothing: antialiased; width: fit-content; display: flex; flex: auto; flex-direction: row;}
.scrolling-text .text {flex-shrink: 0; padding: 0 4px; font-weight: bold;}
@media screen and (min-width: 1024px){
    .scrolling-wrap {font-size: 75px;}
}
/* 텍스트 에니메이션 e */

@font-face {
    font-family: "Monument";
    src: url("https://res.cloudinary.com/holatresveces/raw/upload/v1573001944/MonumentExtended-Ultrabold_clzvv7.otf");
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  
  body {
    font-family: "Monument";
    font-size: 80px;
    line-height: 70px;
    background: #70b8ff;
    overflow: hidden;
  }
  
  .container {
    position: relative;
    height: 70px;
    overflow: hidden;
    outline: 1px transparent;
  }
  
  ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    white-space: nowrap;
  }
  
  .menu {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }


  .flex {
	align-items: center;
	display: flex;
	justify-content: center;
}

.scene {
	background-color: #a29bfe;
	color: black;
	font: 800 100%/1.2 'Nunito', sans-serif;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.header {
	font-size: 6rem;
	margin: 0 auto;
	max-width: 80em;
	position: relative;
	text-align: center;
	z-index: 1;
}

.confetti {
	position: absolute;
	user-select: none;
	z-index: 0;
}

.confetti__item {
		display: inline-block;
		font-size: 1.5rem;
		position: absolute;
}